<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <title>{%block title %}{% endblock %} - Steward</title>
  {% endblock %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
  <header>
    <div id="header" class="container">
      <h1>Steward > {{view}}</h1>
    </div>
    <div>
      Menu:
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </div>
    <hr />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </header>


  <div id="content" class="container">
    {% block content %}
    {% endblock %}
  </div>


  <div id="footer" class="container">
    {% block footer %}
      <a href="https://github.com/Artanicus/maintcal">Steward</a>
    {% endblock %}
  </div>
  <script src="{{url_for('static', filename='js/clickable.js')}}"></script>
</body>
</html>
