:root {
  --bg: #D7CEC7;
  --element: #c09F80;
  --fg: #565656;
  --highlight: #76323F;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}
/*
 * Formatting the header area
 */
header {
  background-color: var(--element);
  height: 40px;
  width: 100%;
  opacity: .9;
  padding: 0px 10px 0px 10px;
}
header h1 {
  font-size: 1.7em;
  color: var(--highlight);
  font-family: 'Merriweather', serif;
  font-weight: normal;
}
/*
 * Centering the body content
 */
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

div.room {
  height: 500px;
  margin: auto;
}

div.room img {
  vertical-align: middle;
}

img.on {
  transform: rotate(180deg);
  filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(50deg) saturate(500%);
}

div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: var(--highlight);
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
li a {
  color: var(--fg);
  text-decoration: none;
}
