{% extends "base.html" %}
{% set view = view %}

{% block content %}
    <form action="" method="post" data-parsley-validate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class_="form-control") }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class_="form-control") }}
        </p>
        <p>
            {{ form.organization.label }}<br>
            {{ form.organization(class_="form-control", disabled=True) }}
        </p>
        <p>
            {{ form.acquired.label }}<br>
            {{ form.acquired(class_="form-control") }}
        </p>
        <p>{{ form.submit(label=view) }}</p>
    </form>
{% endblock %}
