{% extends "base.html" %}
{% block title %}Assets {% endblock %}
{% set view = "Assets" %}


{% block content %}
  {% if assets %}
  <h2><a href='/asset/create'>Create new one?</a></h2>
    <div class="room">
    <ul id="assets" class="room">
      {% for asset in assets %}
      <li id="{{asset._id}}">
        <a href='/asset/{{asset._id}}'>
          {{asset.name}}
        </a>
      </li>
      {% endfor %}
    </ul>
    </div>
  {% else %}
    <h2>No assets could be found. Is the Registry running?</h2>
  {% endif %}
{% endblock %}
