<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>{%block title %}{% endblock %} - Steward</title>
  {% endblock %}
  {% assets "js_all" -%}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}
  {% assets "css_all" -%}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets %}
</head>
<body>
  <header>
    <div id="title" class="navbar">
      <h1>Steward > {{view}}</h1>
    </div>
    {% include 'nav.html' %}
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}


  <div id="content" class="container">
    {% block content %}
    {% endblock %}
  </div>


  <div id="footer" class="container">
    {% block footer %}
    {% if current_user.is_authenticated %}
    <span>Logged in as: {{current_user.user.name}}</span>
    {% endif %}
      <a href="https://github.com/Steward-app/steward">Steward on GitHub</a>
    {% endblock %}
  </div>
  {% block blockscripts %}
  <script>$('form').parsley({ successClass: 'is-valid', errorClass: 'is-invalid'});</script>
  {% endblock %}
</body>
</html>
