{% extends "base.html" %}
{% set view = "Create Maintenance" %}

{% block content %}
    <h1>New Maintenance</h1>

    <form action="" method="post" data-parsley-validate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class_="form-control") }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class_="form-control") }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
