{% extends "base.html" %}
{% block title %}Maintenances {% endblock %}
{% set view = "Maintenances" %}


{% block content %}
  {% if maintenances %}
  <h2><a href='/maintenance/create'>Create new one?</a></h2>
    <div class="room">
    <ul id="maintenances" class="room">
      {% for maintenance in maintenances %}
      <li id="{{maintenance._id}}">
        <a href='/maintenance/{{maintenance._id}}'>
          {{maintenance.name}} ({{maintenance.asset.name}})
        </a>
      </li>
      {% endfor %}
    </ul>
    </div>
  {% else %}
    <h2>No maintenances could be found. Is the Registry running?</h2>
  {% endif %}
{% endblock %}
