{% extends "base.html" %}
{% set view = view %}

{% block content %}
    <form action="" method="post" data-parsley-validate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class_="form-control") }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class_="form-control") }}
        </p>
        <p>
            {{ form.asset.label }}<br>
            {{ form.asset(class_="form-control") }}
        </p>
        <p>
            {{ form.schedule.label }}<br>
            {{ form.schedule(class_="form-control") }}
        </p>
        <p>
            {{ form.enabled.label }}<br>
            {{ form.enabled(class_="form-control") }}
        </p>
        <p>{{ form.submit(label=view) }}</p>
    </form>
{% endblock %}
