{% extends "base.html" %}
{% set view = "Register" %}

{% block content %}
    <h1>Register</h1>
    <h2><a href='/login'>Login instead?</a></h2>

    <form action="" method="post" data-parsley-validate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class_="form-control") }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class_="form-control") }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class_="form-control") }}
        </p>
        <p>
            {{ form.password_repeat.label }}<br>
            {{ form.password_repeat(class_="form-control") }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
